@font-face {
	font-family: "Nunito";
	src: url("/fonts/Nunito-VF.ttf");
	font-weight: 100 900;
	font-display: swap;
}

body {
	font-family: 'Nunito', system-ui, -apple-system, sans-serif;
	font-size: 1rem;
	color: var(--app-text-primary);
	background-color: var(--app-bg);
}
